export const environment = {
  GOOGLE_ID: "INPUT YOUR GOOGLE CLIENT ID",
  GOOGLE_SECRET: "INPUT YOUR GOOGLE CLIENT SECRET",
  SECRET: "f5a9cec0b46c99fac9da7c4ab882d839594ac855017d959615a5978c51742d85",
  SECRET: "# Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32"
};
