GOOGLE_CLIENT_ID=INPUT_YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=INPUT_YOUR_GOOGLE_SECRET
SECRET: "# Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32"
AZURE_AD_CLIENT_ID=INPUT_YOUR_AZURE_AD_CLIENT_ID
AZURE_AD_CLIENT_SECRET=INPUT_YOUR_AZURE_AD_CLIENT_SECRET
AZURE_AD_TENANT_ID=INPUT_YOUR_AZURE_AD_TENANT_ID
NEXTAUTH_URL=http://localhost:3000/