GOOGLE_CLIENT_ID: "INPUT YOUR GOOGLE CLIENT ID",
GOOGLE_CLIENT_SECRET: "INPUT YOUR GOOGLE CLIENT SECRET",
SECRET: "# Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32"
NEXTAUTH_URL=http://localhost:3000/